<h1>Annoyances</h1>
    <ul>
      <% @annoyances.order(:name).each do |annoyance| %>

        <li><%= link_to annoyance.name, annoyance_path(annoyance) %></li>
        <li><%= link_to annoyance.description, annoyance_path(annoyance) %></li>

      <% end %>
    </ul>



<%= link_to "Create new annoyance", new_annoyance_path %>
