<h1>Annoyance's bookings</h1>

<ul>
  <% @annoyance.bookings.each do |booking| %>
    <li> <%= booking.target %> </li>
    <% end %>
</ul>


<%= link_to "Go back", annoyances_path, class: 'btn-ghost' %>
