.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-style: inherit;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  object-fit: contain;
  position: relative;
  display: grid;
  justify-content: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-show {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-show-annoyance > img {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
}

.card-show-annoyance {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-show-annoyance img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-show-annoyance h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-show-annoyance p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-show-annoyance .card-product-infos {
  padding: 16px;
}

.cards-annoyance {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.cards-annoyance > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cards-annoyance h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.cards-annoyance p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
  color: black;
}

.cards-annoyance .cards-annoyance-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: rgb(37, 37, 37);
}

.cards-annoyance-infos .cards-annoyance-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  color: black;
}

.cards-movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-left: 18px;
  padding-right: 18px;
}

.annoyance-price-available {
  float: right;
  .available {
    color: green;
  }
  .outofstock {
    color: red;
  }
}

.card-create-annoyance{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-style: inherit;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  object-fit: contain;
  position: relative;
  display: grid;
  justify-content: center;
  color: rgb(146, 85, 149);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.head-create {
  display: grid;
}

.create-btn p {
  flex-grow: 0;
  float: right;
  padding-right: 18px;
}
