.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
}

.card-show {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.cards-annoyance {
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-position: center;
}

.cards-annoyance > img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards-annoyance h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
}

.cards-annoyance p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
  color: black;
  text-decoration: none;
}

.cards-annoyance .cards-annoyance-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: rgb(37, 37, 37);
  text-decoration: none;
}

.cards-name {
  color: black;
  font-size: 30px;
}

.annoyance-price-available {
  float: right;
  .available {
    color: green;
  }
  .outofstock {
    color: red;
  }
}

.head-create {
  display: grid;
}

.create-btn p {
  flex-grow: 0;
  float: right;
  padding-right: 18px;
}

.fa-solid-fa-euro-sign {
  height: 80px;
  width: 80px;
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 80%;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px 5px;
  position: absolute;
  bottom: 80px;
  right: 40px;
  background-color: rgb(226, 224, 224);
  color: white;
  font-weight: extra-bold;
  font-size: 30px;
  align-items: center;
}
