.navbar-lewagon {
  justify-content: space-between;
  background: #e4c1f9;
  text-decoration-color: #495057;
  display: flex;
  margin: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
