.navbar-lewagon {
  justify-content: space-between;
  background: $light-yellow;
  text-decoration-color: $light-grey;
  display: flex;
  margin: 0px;
  font-size: 20;
  font-family: Cabin;
  font-size: medium;
  font-weight: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-size: 30;
  font-family: Cabin;
  font-size: medium;
  color: #CED4DA;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: #CED4DA;
}
.navbar-lewagon .nav-link:hover {
  color: #495057;
}
